
/* PC */
@media (min-aspect-ratio: 1/1) {
    body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f4f4f4;
    }
    
    #container_bo {
        position: fixed;
        bottom: 20vh;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #f4f4f4;
    }
    
    #container_img {
        text-align: center; /* Centra el contenido horizontalmente */
    }
    
    #imagen {
        max-width: 20%;
        height: auto;
    }
    
    #texto {
        margin: 10px auto; /* Espaciado alrededor del texto y centrado horizontalmente */
    }
    
    .boton {
        margin: 0 50px;
        padding: 10px;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    
    #boton1 {
        background-color: #3498db;
    }
    
    #boton2 {
        background-color: #e74c3c;
    }
    
}

@media (max-aspect-ratio: 1/1) {
    body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f4f4f4;
    }
    
    #container_bo {
        position: fixed;
        bottom: 20vh;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #f4f4f4;
    }
    
    #container_img {
        position: absolute;
        top: 35%;
        text-align: center; /* Centra el contenido horizontalmente */
    }
    
    #imagen {
        max-width: 40%;
        height: auto;
    }
    
    #texto {
        margin: 10px auto; /* Espaciado alrededor del texto y centrado horizontalmente */
    }
    
    .boton {
        margin: 0 50px;
        padding: 10px;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    
    #boton1 {
        background-color: #3498db;
    }
    
    #boton2 {
        background-color: #e74c3c;
    }
}